<div
  class="app-body py-4"
  [ngClass]="{
    'bg-dark text-light': darkMode,
    'bg-light text-dark': !darkMode
  }"
>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>{{ title }}</h1>
      </div>
      <div class="col-6 text-end">
        <button type="button" class="btn btn-link" (click)="toggleDarkMode()">
          <i
            class="fas"
            [ngClass]="{
              'fa-sun': darkMode,
              'fa-moon': !darkMode
            }"
            [ngStyle]="{
              color: darkMode ? '#FFA500' : ''
            }"
          ></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div>
        <p>
          Lollipop powder powder. Cotton candy caramels chupa chups halvah
          muffin caramels apple pie topping cake. Topping chocolate bar pastry
          chocolate cake. Cupcake tart jujubes dragée jelly-o icing sugar plum.
          Chocolate bar lollipop candy canes. Biscuit croissant apple pie
          pudding caramels wafer tart tootsie roll macaroon. Croissant tiramisu
          chocolate bar carrot cake lemon drops halvah.
        </p>
      </div>
      <div>
        <p>
          Marshmallow tiramisu liquorice bear claw chocolate bar bear claw tart.
          Muffin chupa chups pie. Brownie apple pie topping lemon drops marzipan
          toffee. Pudding macaroon icing ice cream bonbon cake tart. Pudding
          sugar plum chocolate cake cake biscuit pastry pastry chocolate bar
          tart. Lemon drops dessert gummies icing.
        </p>
      </div>
    </div>

    <form class="row g-3 mb-2" [formGroup]="demoForm" (ngSubmit)="onSubmit()">
      <div class="col-auto">
        <input
          type="text"
          placeholder="Name"
          aria-label="Name"
          formControlName="name"
        />
      </div>
      <div class="col-auto">
        <select aria-label="Default select example" formControlName="select">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-12">
        <button type="submit">Submit</button>
        <button type="button" (click)="reset()">Reset</button>
      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
